name: My First Workflow

on: push # trigger event

jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
        - name: Welcome message
          run: echo "My first GitHub Actions job"

        - name: List files
          run: ls
        
        - name: Read file
          run: cat README.md
